<!doctype html>
<html>
	<!-- Base CSS template -->
	<head>
	    <meta charset="utf-8">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        {% load static %}

		<link rel="stylesheet" href="{% static 'apnea_detection/base.css' %}">
		<title> {% block title %} Apnea_detection {% endblock %} </title>


		</head>

		{% block nav %}
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item">
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
			</ul>
		</nav>


		{% endblock %}
        
		{% block heading %}
		{% endblock %}

		{% block tabs %}
			<div class="container">
  
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'setup' %}">1. Setup</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link"  href="{% url 'normalization' %}">2. Data Normalization</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'prediction' %}">3. Run ML model </a>
			</li>
			</ul>
		{% endblock %}


       
		{% block body %}
		
		{% endblock %}
  
	</body>
</html>
