{% extends "apnea_detection/base.html" %}

{% block nav %}
{% endblock %}

{% block heading %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Login</h1>
    </div>
{% endblock %}

{% block tabs %}
{% endblock %}
{% block body %}
<div class="container">
    <form method="post" action="{% url 'login' %}">
        <table>
        {{ form }}
        </table>
        {% csrf_token %}
        <hr>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="{% url 'register' %}" class="btn btn-secondary">Sign up</a>
    </form>
</div>
{% endblock %}

