{% extends "apnea_detection/base.html" %}


{% block heading %}
<div class="jumbotron text-center">
    <h1 class="display-4">Prediction</h1>
</div>
{% endblock %}

{% block body %}
<body>
{% endblock %}