{% extends "apnea_detection/base.html" %}


{% block heading %}
<div class="jumbotron text-center">
    <h1 class="display-4">Setup</h1>
</div>
{% endblock %}

{% block body %}
<form method="post" action="{% url 'home' %}">
    <table>
        {{ form }}
    </table>
    {% csrf_token %}
    <hr>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}